{{!-- ! WE HAVE TO FILL IN NECESSARY CODE etc --}}
<section class="container-fluid px-0">
    <div class="hero px-0">
    </div>
    <div class="row justify-content-center my-4">
        {{#if logged_in}}
        <a href="" class="col-6 col-lg-2 mx-auto">
            <button type="button" class="btn btn-dark btn-rounded w-100">View Groups</button>
        </a>
        {{else}}
        <a href="/login" class="col-6 col-md-2 mx-auto">
            <button type="button" class="btn btn-dark btn-rounded w-100">Get Started</button>
        </a>
        {{/if}}
    </div>
</section>

<section class="container d-flex justify-content-evenly mt-5 flex-column align-items-center flex-md-row">
    <div class="card hero-card text-center shadow-5 border-start">
        <div class="card-header">Step #1</div>
        <div class="card-body">
            <h5 class="card-title">Create an Account</h5>
            <p class="card-text">Register or login to an existing account by clicking "Get Started" or "Login"</p>
        </div>
    </div>
    <div class="vr vr-blurry"></div>
    <div class="card hero-card text-center">
        <div class="card-header">Step #2</div>
        <div class="card-body">
            <h5 class="card-title">Select Your Group</h5>
            <p class="card-text">Pick your subject and join the group to connect with other students</p>
        </div>
    </div>
    <div class="vr vr-blurry"></div>
    <div class="card hero-card text-center border-end">
        <div class="card-header">Step #3</div>
        <div class="card-body">
            <h5 class="card-title">View Resources</h5>
            <p class="card-text">Access your group's chat, resources, and video call</p>
        </div>
    </div>
</section>