{{!-- ! WE HAVE TO FILL IN NECESSARY CODE etc --}}
<!-- Pills navs -->
<main class="container w-50 mt-5">
    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
        <a
        class="nav-link active"
        id="tab-login"
        data-mdb-toggle="pill"
        href="#pills-login"
        role="tab"
        aria-controls="pills-login"
        aria-selected="true"
        >Login</a
        >
    </li>
    <li class="nav-item" role="presentation">
        <a
        class="nav-link"
        id="tab-register"
        data-mdb-toggle="pill"
        href="#pills-register"
        role="tab"
        aria-controls="pills-register"
        aria-selected="false"
        >Register</a
        >
    </li>
    </ul>
    <!-- Pills navs -->

    <!-- Pills content -->
    <div class="tab-content">
    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
        <form id="loginForm">

        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" id="loginName" class="form-control" />
            <label class="form-label" for="loginName">Email</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="loginPassword" class="form-control" />
            <label class="form-label" for="loginPassword">Password</label>
        </div>

        <!-- Submit button -->
        <button id="loginFormBtn" type="button" class="btn btn-primary btn-block mb-3">Sign in</button>

        </form>
    </div>
    <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
        <form id="registerForm">

        <!-- Name input -->
        <div class="form-outline mb-4">
            <input type="text" id="registerFirstName" class="form-control" required />
            <label class="form-label" for="registerFirstName">First Name</label>
        </div>

        <!-- Username input -->
        <div class="form-outline mb-4">
            <input type="text" id="registerLastName" class="form-control" required />
            <label class="form-label" for="registerLastName">Last Name</label>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" id="registerEmail" class="form-control" required />
            <label class="form-label" for="registerEmail">Email</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="registerPassword" class="form-control" required />
            <label class="form-label" for="registerPassword">Password</label>
        </div>

        <!-- Repeat Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="registerRepeatPassword" class="form-control" required />
            <label class="form-label" for="registerRepeatPassword">Repeat password</label>
        </div>

        <!-- Submit button -->
        <button id="registerBtn" type="button" class="btn btn-primary btn-block mb-3">Sign in</button>
        </form>
    </div>
    </div>
    <!-- Pills content -->
</main>

<script src="/js/register.js"></script>
<script src="/js/login.js"></script>